* {
    margin: 0;
    padding: 0;
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-switch {
    width: 3.5rem;
    height: 1.5rem;
    position: relative;
}

.label-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
}

.input-switch {
    position: absolute;
    display: none;
}

.span-switch {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.span-switch::before {
    content: "🌑";
    position: absolute;
    width: 1.5rem;
    height: 100%;
    border-radius: 50%;
    display: flex;
    transition: 0.2s;
}

.input-switch:checked + .span-switch::before {
    content: "☀️";
    transform: translateX(2rem);
}

.input-switch:checked + .span-switch {
    background-color: black;
}